:root {
    --title-color: #212121;
    --text-color: #757575;
    --active-color: #2196F3;
}


body{
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.28px;
    line-height: normal;
}

.container{
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    /* outline: solid red; */
}


/* header */

.header-top{
    display: flex;
    padding-top: 24px;
    padding-bottom: 25px;
    align-items: center;
}

.logo{
color: var(--active-color);
font-family: "Raleway", sans-serif;
font-size: 26px;
letter-spacing: 0.78px;
text-decoration: none;
margin-right: 93px;
}

.header-studio{
    color: #000;
}

.header-points{
    display: flex;
    gap: 50px;
}

.header-point{
    position: relative;
}

.header-link.active::after{
    content: "";
    position: absolute;
    top: 45px;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: #2196F3;
    transition: width 0.3s ease-in-out;
}

.header-link{
color: var(--title-color);
font-weight: 500;
}

.header-link:hover, .header-link:focus{
color: var(--active-color);
}

.header-contacts{
    display: flex;
    margin-left: 344px;
    outline: solid violet;
}

.header-email{
color: var(--text-color);
fill: var(--text-color);
font-weight: 500;
display: flex;
align-items: center;
}

.header-email:hover, .header-email:focus{
color: var(--active-color);
fill: var(--active-color);
}

.icon-email{
    width: 16px;
    height: 12px;
    margin-right: 10px;
}

.header-tel:hover, .header-tel:focus{
    color: var(--active-color);
    fill: #2196F3;
}

.header-tel{
color: var(--text-color);
fill: var(--text-color);
font-weight: 500;
margin-left: 30px;
display: flex;
align-items: center;
}

.icon-tel{
    width: 10px;
    height: 16px;
    margin-right: 10px;
}


/* main */

.hero{
background-color: #2F303A;
background-image:
linear-gradient(to bottom, rgba(47, 48, 58, 0.40) 100%, red 0%),
url(../images/backhero.jpg);
}

.hero-box{
    display: flex;
    padding-top: 200px;
    padding-bottom: 200px;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.hero-title{
color: #FFF;
text-align: center;
font-size: 44px;
font-weight: 900;
line-height: 60px; /* 136.364% */
letter-spacing: 2.64px;
text-transform: uppercase;
max-width: 696px;
}

.hero-bt{
color: #FFF;
text-align: center;
font-size: 16px; 
line-height: 30px; /* 187.5% */
letter-spacing: 0.96px;
border-radius: 4px;
background-color: #2196F3;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
margin-top: 40px;
padding: 10px 32px;
}

.advantages{
    padding-top: 94px;
    padding-bottom: 94px;
}

.advantages-points{
    display: flex;
    gap: 30px;
}

.advantages-point{
    flex-basis: calc((100% - 90px) / 4);
}

.advantages-point:first-child:before{
    content: "";
    display: block;
    border-radius: 4px;
    background-color: #F5F4FA;
    width: 270px;
    height: 120px;
    background-image: url(../images/radio.jpg);
    margin-bottom: 30px;
}

.advantages-point:nth-child(2):before{
    content: "";
    display: block;
    border-radius: 4px;
    background-color: #F5F4FA;
    width: 270px;
    height: 120px;
    background-image: url(../images/clock.jpg);
    margin-bottom: 30px;
}

.advantages-point:nth-child(3):before{
    content: "";
    display: block;
    border-radius: 4px;
    background-color: #F5F4FA;
    width: 270px;
    height: 120px;
    background-image: url(../images/monitor.jpg);
    margin-bottom: 30px;
}

.advantages-point:last-child:before{
    content: "";
    display: block;
    border-radius: 4px;
    background-color: #F5F4FA;
    width: 270px;
    height: 120px;
    background-image: url(../images/astronaut.jpg);
    margin-bottom: 30px;
}

.advantages-title{
    color: var(--title-color);
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 14px;
}

.advantages-text{
color: var(--text-color);
font-weight: 400;
line-height: 24px; /* 171.429% */
letter-spacing: 0.42px;
}

.activity{
    padding-bottom: 94px;
}

.activity-title{
color: var(--title-color);
text-align: center;
font-size: 36px;
letter-spacing: 1.08px;
margin-bottom: 50px;
}

.activity-points{
    display: flex;
    gap: 30px;
}

.activity-point{
    flex-basis: calc((100% - 60px) / 3);
    position: relative;
}

.activity-point:nth-child(1) > .activity-text{
padding: 27px 107px;
}

.activity-point:nth-child(2) > .activity-text{
    padding: 27px 113px;
}

.activity-point:nth-child(3) > .activity-text{
    padding: 27px 95px;
}

.activity-text{
    position: absolute;
    color: #FFF;
    text-align: center;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    background: rgba(47, 48, 58, 0.80);
    top: 224px;
}

.team{
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: #F5F4FA;;
}

.team-title{
color: var(--title-color);
text-align: center;
font-size: 36px;
letter-spacing: 1.08px;
margin-bottom: 50px;
}

.team-points{
    display: flex;
    gap: 30px;
}

.team-point{
max-width: 270px;
max-height: 428px;
border-radius: 0px 0px 4px 4px;
background-color: #FFF;
padding-bottom: 30px;
flex-basis: calc((100% - 90px) / 4);
box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);
}

.team-img{
    max-width: 270px;
    max-height: 260px;
}

.team-name{
color: var(--title-color);
text-align: center;
font-size: 16px;
font-weight: 500;
letter-spacing: 0.48px;
margin-top: 30px;
margin-bottom: 10px;
}

.team-text{
color: var(--text-color);
text-align: center;
font-size: 16px;
font-weight: 400;
letter-spacing: 0.48px;
}


.team-link{
    background-color: transparent;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-link:hover, .team-link:focus{
    background-color: var(--active-color);
}

.team-icons{
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 16px;
}

.social-icon{
    fill: #AFB1B8;
    width: 20px;
height: 20px;
}

.team-link:hover .social-icon, .team-link:focus .social-icon{
    fill: #FFFFFF;

}

.client{
    padding: 94px 0;
}

.client-title{
    color: #212121;
text-align: center;
font-family: Roboto;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1.08px;
margin: 0 auto;
margin-bottom: 50px;
}

.client-points{
    display: flex;
    gap: 30px;
    justify-content: center;
}

.client-link{
    display: flex;
    padding: 16px 32px;
border-radius: 4px;
border: 1px solid #AFB1B8;
outline: none;
}

.client-icon{
    fill: var(--text-color);
    width: 106px;
height: 60px;
}

.client-link:hover, .client-link:focus{
    border-radius: 4px;
    border: 1px solid var(--active-color);
}

.client-link:hover .client-icon, .client-link:focus .client-icon{
    fill: var(--active-color);
}


/* footer */

.footer{
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-box{
    display: flex;
}

.footer-logo{
color: var(--active-color);
font-family: "Raleway", sans-serif;
font-size: 26px;
letter-spacing: 0.78px;
text-decoration: none;
}

.footer-studio{
    color: #FFF;
}

.address{
    font-style: normal;
    margin-top: 20px;
}

.footer-points{
display: flex;
flex-direction: column;
gap: 9px;
}

.footer-address{
color: #FFF;
font-weight: 400;
line-height: 24px; /* 171.429% */
letter-spacing: 0.42px;
}

.footer-link{
color: rgba(255, 255, 255, 0.60);
font-weight: 400;
line-height: 24px; /* 171.429% */
letter-spacing: 0.42px;
}

.social{
    margin-left: 70px;
    margin-right: 93px;
}

.footer-title{
    color: #FFF;
    font-size: 14px;
font-weight: 700;
line-height: normal;
letter-spacing: 0.42px;
text-transform: uppercase;
margin-bottom: 20px;
}

.footer-socials{
    display: flex;
    gap: 10px;
}

.social-link{
    display: flex;
    background-color: rgba(255, 255, 255, 0.10);
    border-radius: 50%;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;
    outline: none;
}

.social-link:hover, .social-link:focus{
    background-color: var(--active-color);
}

.footer-icon{
    width: 20px;
height: 20px;
fill: #FFFFFF;
}

.sending{
    display: flex;
    flex-direction: column;
}

.sending-title{
    color: #FFF;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.42px;
text-transform: uppercase;
margin-bottom: 20px;
}

.sending-form{
    display: flex;
    gap: 12px;
    position: relative;
}

.sending-input{
width: 358px;
height: 46px;
flex-shrink: 0;
color: rgba(255, 255, 255, 0.60);
font-size: 16px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0.48px;
border-radius: 4px;
border: 1px solid rgba(255, 255, 255, 0.30);
background: rgba(33, 150, 243, 0.00);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
padding-left: 16px
}

.sending-sub{
width: 200px;
height: 50px;
flex-shrink: 0;
color: #FFF;
text-align: center;
font-size: 16px;
line-height: 30px; /* 187.5% */
letter-spacing: 0.96px;
border-radius: 4px;
background: #2196F3;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
padding: 10px 62px 10px 28px;
}

.sending-icon{
width: 24px;
height: 24px;
fill: #FFF;
position: absolute;
left: 528px;
top: 13px;
}

/* 2-page */


/* main */

.main-filter{
    padding-top: 100px;
    padding-bottom: 56px;
}

.filter-points{
    display: flex;
    justify-content: center;
    gap: 8px;
}

.filter-bt{
color: var(--title-color);
text-align: center;
font-size: 16px;
font-weight: 500;
line-height: 26px; /* 162.5% */
letter-spacing: 0.48px;
border-radius: 4px;
background-color: #F5F4FA;
padding: 6px 25px;
outline: none;
}

.filter-bt:hover, .filter-bt:focus{
    border-radius: 4px;
    background-color: #2196F3;
    color: #FFF;
    box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
}

.main-product{
    padding-bottom: 94px;
}

.product-points{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.product-link{
    position: relative;
display: flex;
flex-direction: column;
outline: none;
max-width: 370px;
max-height: 404px;
border: 1px solid #EEE;
background-color: #FFF;
padding-bottom: 20px;
flex-basis: calc((100% - 60px) / 3);
}

.product-link:hover, .product-link:focus{
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
}

.product-link:hover .product-info{
    display: block;
}

.product-box{
    margin-top: 20px;
    padding-left: 24px;
}

.product-img{
    height="294"
    width="370"
}

.product-title{
color: var(--title-color);
font-size: 18px;
line-height: 36px; /* 200% */
letter-spacing: 1.08px;
margin-bottom: 4px;
}

.product-text{
color: var(--text-color);
font-size: 16px;
font-weight: 400;
line-height: 30px; /* 187.5% */
letter-spacing: 0.48px;
}

.product-info{
background: rgba(33, 150, 243, 0.90);
width: 322px;
height: 168px;
padding: 63px 24px;
display: none;
position: absolute;
top: 0;
left: 0;
}

.product-info-text{
color: #FFF;
font-size: 18px;
font-weight: 400;
line-height: 28px; /* 155.556% */
letter-spacing: 0.54px;
}

.backdrop{
    background: rgba(0, 0, 0, 0.20);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.modal{ 
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 528px;
height: 581px;
border-radius: 4px;
background: #FFF;
box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);
display: flex;
flex-direction: column;
align-items: center;
padding-top: 40px;
}

.modal-close{
position: absolute;
top: 8px;
left: 490px;
}

.modal-close:hover > .close-icon{
fill: #2196F3   ;
}

.close-icon{
width: 18px;
height: 18px;
fill: #000000;
position: absolute;
z-index: 2;
}

.close-ellipse{
width: 30px;
height: 30px;
fill: #FFF;
stroke-width: 1px;
stroke: rgba(0, 0, 0, 0.10);
position: absolute;
top: -5px;
left: 1px;
z-index: 1;
}

.modal-title{
color: var(--title-color);
text-align: center;
font-size: 20px;
line-height: normal;
letter-spacing: 0.6px;
margin-bottom: 12px;
}

.modal-form{
display: flex;
flex-direction: column;
align-items: center;
gap: 10px;
}

.modal-label{
display: flex;
flex-direction: column;
position: relative;
}

.modal-label:hover > .modal-icon{
fill: #2196F3;
}

.modal-label:focus > .modal-icon{
fill: #2196F3; 
}

.modal-label:focus > .modal-input{
border-radius: 4px;
border: 1px solid #2196F3;
}

.modal-label:hover > .modal-input{
border-radius: 4px;
border: 1px solid #2196F3;
}

.label-sp{
color: var(--text-color);
font-size: 12px;
font-weight: 400;
line-height: normal;
letter-spacing: 0.12px;
margin-bottom: 4px;
}

.modal-input{
width: 406px;
height: 40px;
border-radius: 4px;
border: 1px solid rgba(33, 33, 33, 0.20);
padding-left: 42px;
}

.modal-icon{
width: 18px;
height: 18px;
fill: var(--title-color);
position: absolute;
top: 30px;
left: 12px;
}

.modal-area{
width: 432px;
color: rgba(117, 117, 117, 0.50);
font-size: 12px;
font-weight: 400;
line-height: normal;
letter-spacing: 0.12px;
border-radius: 4px;
border: 1px solid rgba(33, 33, 33, 0.20);
padding: 16px 12px;
padding-bottom: 96px;
}

.modal-area:hover{
border-radius: 4px;
border: 1px solid #2196F3; 
}

.modal-check{
margin-top: 10px;
margin-right: 8px;
width: 16px;
height: 15px;
fill: #212121;
}

.modal-sp{
color: var(--text-color);
font-weight: 400;
line-height: 24px; /* 171.429% */
letter-spacing: 0.42px;
}

.modal-link{
color: var(--active-color);
font-weight: 400;
line-height: 24px;
letter-spacing: 0.42px;
text-decoration-line: underline;
text-decoration-style: solid;
text-decoration-skip-ink: none;
text-decoration-thickness: auto;
text-underline-offset: auto;
text-underline-position: from-font;
}

.modal-sub{
color: #FFF;
text-align: center;
font-size: 16px;
line-height: 30px; /* 187.5% */
letter-spacing: 0.96px;
border-radius: 4px;
background: #2196F3;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
width: 200px;
height: 50px;
border: 0;
margin-top: 20px;
}

.is-hidden{
    pointer-events: none;
    opacity: 0;
}