:root {
    --title-color: #212121;
    --text-color: #757575;
    --active-color: #2196F3;
}


body{
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.28px;
    line-height: normal;
}

.container{
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    outline: solid red;
}


/* header */

.header-top{
    display: flex;
    padding-top: 24px;
    padding-bottom: 25px;
}

.logo{
color: var(--active-color);
font-family: "Raleway", sans-serif;
font-size: 26px;
letter-spacing: 0.78px;
text-decoration: none;
margin-right: 93px;
outline: solid red;
}

.header-studio{
    color: #000;
}

.header-points{
    display: flex;
    gap: 50px;
    outline: solid blue;
}

.header-link{
color: var(--title-color);
font-weight: 500;
}

.header-link:active{
color: var(--active-color);
}

.header-contacts{
    display: flex;
    gap: 50px;
    margin-left: 344px;
    outline: solid violet;
}

.header-email{
color: var(--text-color);
font-weight: 500;
}

.header-email:hover{
color: var(--active-color);
}

.header-tel{
color: var(--text-color);
font-weight: 500;
}


/* main */

.hero{
background-color: #2F303A;
}

.hero-box{
    display: flex;
    padding-top: 200px;
    padding-bottom: 210px;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.hero-title{
color: #FFF;
text-align: center;
font-size: 44px;
font-weight: 900;
line-height: 60px; /* 136.364% */
letter-spacing: 2.64px;
text-transform: uppercase;
}

.hero-bt{
color: #FFF;
text-align: center;
font-size: 16px; 
line-height: 30px; /* 187.5% */
letter-spacing: 0.96px;
border-radius: 4px;
background-color: #2196F3;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
margin-top: 40px;
padding: 10px 32px;
}

.advantages{
    padding-top: 94px;
    padding-bottom: 94px;
}

.advantages-points{
    display: flex;
    gap: 30px;
}

.advantages-title{
    color: var(--title-color);
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

.advantages-text{
color: var(--text-color);
font-weight: 400;
line-height: 24px; /* 171.429% */
letter-spacing: 0.42px;
}

.activity{
    padding-bottom: 94px;
}

.activity-title{
color: var(--title-color);
text-align: center;
font-size: 36px;
letter-spacing: 1.08px;
margin-bottom: 50px;
}

.activity-points{
    display: flex;
    gap: 30px;
}

.team{
    padding-top: 94px;
    padding-bottom: 124px;
}

.team-title{
color: var(--title-color);
text-align: center;
font-size: 36px;
letter-spacing: 1.08px;
margin-bottom: 50px;
}

.team-points{
    display: flex;
    gap: 30px;
}

.team-name{
color: var(--title-color);
text-align: center;
font-size: 16px;
font-weight: 500;
letter-spacing: 0.48px;
margin-top: 30px;
margin-bottom: 10px;
}

.team-text{
color: var(--text-color);
text-align: center;
font-size: 16px;
font-weight: 400;
letter-spacing: 0.48px;
}

/* footer */

.footer{
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-logo{
color: var(--active-color);
font-family: "Raleway", sans-serif;
font-size: 26px;
letter-spacing: 0.78px;
text-decoration: none;
}

.footer-studio{
    color: #FFF;
}

.address{
    font-style: normal;
    margin-top: 20px;
}

.footer-points{
display: flex;
flex-direction: column;
gap: 9px;
}

.footer-address{
color: #FFF;
font-weight: 400;
line-height: 24px; /* 171.429% */
letter-spacing: 0.42px;
}

.footer-link{
color: rgba(255, 255, 255, 0.60);
font-weight: 400;
line-height: 24px; /* 171.429% */
letter-spacing: 0.42px;
}

/* 2-page */


/* main */

.main-filter{
    padding-top: 100px;
    padding-bottom: 56px;
}

.filter-points{
    display: flex;
    justify-content: center;
    gap: 8px;
}

.filter-bt{
color: var(--title-color);
text-align: center;
font-size: 16px;
font-weight: 500;
line-height: 26px; /* 162.5% */
letter-spacing: 0.48px;
border-radius: 4px;
background-color: #F5F4FA;
padding: 6px 25px;
}

.filter-bt:active{
color: #FFF;;
}

.main-product{
    padding-bottom: 94px;
}

.product-points{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.product-point{
border: 1px solid #EEE;
background-color: #FFF;
padding-bottom: 20px;
}

.product-title{
color: var(--title-color);
font-size: 18px;
line-height: 36px; /* 200% */
letter-spacing: 1.08px;
margin-top: 20px;
margin-bottom: 4px;
}

.product-text{
color: var(--text-color);
font-size: 16px;
font-weight: 400;
line-height: 30px; /* 187.5% */
letter-spacing: 0.48px;
}